.inputOption {
	display: flex;
	align-items: center;
	margin-top: 15px;
	color: grey;
	padding: 10px;
	cursor: pointer;
}

.inputOption > h4 {
	padding-left: 5px;
	font-size: 12px;
}

.inputOption:hover {
	background-color: rgb(230, 230, 230);
	border-radius: 10px;
	margin-left: 5px;
}
